# Three lines below ignore all files w/out extenion
*
!*.*
!*/
*.a
*.o
*.out
*.swp
/build
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
*Doxy*
/doctests
/tests
/Testing
